<div class="begin" >
    <h1>Welcome To Quotes Hub </h1>
    <p>Here You will meet like-minded people. <br>  Feel free to share</p>
</div>

<div class="container">
    <h2 style="text-align: center;">Find some quotes here</h2>
 <div class="row">
 <div *ngFor='let quotes of quotes ;let i = index'>
    
     <ul>
         <li>
             "{{quotes.name}}" was posted on {{quotes.notedDate|date}} , <strong>{{quotes.notedDate|dateCount}} days ago </strong>
             <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
             <button (click)='upvote(i)' style="margin-left:10px;"><img src="assets/like.png" alt="Like button" style="height: 30px;width: 30px;"><i>{{quotes.upvotes}}</i></button>
             <button (click)='downvote(i)' style="margin-left:10px;"><img src="assets/dislike.png" alt="dislike button" style="height: 30px;width: 30px;"><i>{{quotes.downvotes}}</i></button>
             <div *ngIf='quotes.showDetails'>
                 <app-quote-details [quote]='quotes' (isComplete) ='deleteQuote($event,i)'></app-quote-details>
             </div>
         </li>
     </ul>
 </div>
 <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
 </div>
</div>